*{
    box-sizing: content-box border-box;
    font-family: 'Rubik Glitch', cursive;
    text-align: center;
    
}


body{
    background-image: url('imagen.jpg');
    text-shadow: 2px 0rem 1rem rgb(177, 231, 238);
    box-shadow: inset 0 0 5rem rgb(62, 84, 131);
}

div.b-example-divider{
    background-color: rgba(49, 49, 49, 0.486);
}

div.header{
    background-color: rgba(8, 33, 66, 0.507);
}

h1.h1{
    color: beige;
}

p.p{

    font-size: 250%;
}